#files ignored
Networking/Servers/kernel_variables.txt
Networking/Servers/log.txt
Networking/Servers/main
Networking/Servers/catastrophic_bugs/
Networking/Servers/main.dSYM
Networking/Servers/compiler_options.txt