* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 80px;
    left: 80px;
    background-color: #4b70e1;
}

h1 {
    margin: 20px;
    color:white;
}

p {
    margin: 20px;
    color:white;
}

a {
    color:blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: purple;
    text-decoration: none;
}

a:visited:hover {
    color:purple;
    text-decoration: underline;
}